@font-face {
    font-family: "displayCard";
    src: url("../Fonts/DK\ Sugary\ Pancake.otf")
}

.artCardDiv {
    display: flex;
    justify-content: center;
}

.artCardImage {
    height: 300px;
    width: 300px;

    border: solid;
    border-color: rgb(228,160,183);
    border-width: 5px;
}